elixir_ls# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
.idea
*.iml
jsconfig.json
.env

# VSCode
.vscode
.elixir_ls
.settings
*/bin
*.code-workspace

# IntelliJ
.project
.classpath
